Ch09 - Entity Framework with N-Tier Applications/Recipe2/Recipe2Client/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11211/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11211/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11211/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Recipe2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Cleanup_InputMessage">
    <wsdl:part name="parameters" element="tns:Cleanup" />
  </wsdl:message>
  <wsdl:message name="IService1_Cleanup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanupResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPostByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostByTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPostByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SubmitPost_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitPost" />
  </wsdl:message>
  <wsdl:message name="IService1_SubmitPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitPostResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SubmitComment_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitComment" />
  </wsdl:message>
  <wsdl:message name="IService1_SubmitComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteComment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComment" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCommentResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Cleanup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Cleanup" message="tns:IService1_Cleanup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CleanupResponse" message="tns:IService1_Cleanup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPostByTitle" message="tns:IService1_GetPostByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPostByTitleResponse" message="tns:IService1_GetPostByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SubmitPost" message="tns:IService1_SubmitPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SubmitPostResponse" message="tns:IService1_SubmitPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SubmitComment" message="tns:IService1_SubmitComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SubmitCommentResponse" message="tns:IService1_SubmitComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteComment" message="tns:IService1_DeleteComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCommentResponse" message="tns:IService1_DeleteComment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Cleanup">
      <soap:operation soapAction="http://tempuri.org/IService1/Cleanup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostByTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPostByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitPost">
      <soap:operation soapAction="http://tempuri.org/IService1/SubmitPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitComment">
      <soap:operation soapAction="http://tempuri.org/IService1/SubmitComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:11211/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>